@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */

  /* font-families */
  --ff-poppins: 'Poppins', sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default link style */
a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizelegibility;
  line-height: 1.5;
  font-family: var(--ff-poppins);
  font-size: 1rem;
  font-weight: 400;
  background: #F3F5F8;
}

main {
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  all: unset;
}

/* Remove default button styles */
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: var(--color-text);
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

.logo{
  font-family: Nimbus Sans L;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
letter-spacing: 3.6px;
text-transform: uppercase;
}

#separator{
  border-right: 1px solid #898181;
  max-width:1px;
}

#intro-left{
  height: 100vh;
  max-width:fit-content;
  padding:31px 70px 31px 70px;
}

.intro-name{
  color: #FFF;
font-family: Nimbus Sans L;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 72px; /* 90% */
letter-spacing: -2px;
}

.intro-sub-heading{
color: #FFF;
font-family: Nimbus Sans L;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 72px; /* 120% */
letter-spacing: -2px;
}

/* Add margin of 50px to the first sub-heading */
/* .intro-sub-heading:first-of-type{
  margin-top:50px;
} */

.intro-paragraph{
  color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 52.5px; /* 218.75% */
letter-spacing: -2px;
max-width:771px;
margin-top:40px;
}
/* Add color to the span inside the sub-heading */
/* .intro-sub-heading span{
  background: -webkit-linear-gradient(180deg,#97D08D 38.79%, #49C1EB 44.8%,#474BB6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

} */